.gitignore
qt-5.6.3-build.20200414_static_dynruntime/
qt-5.6.3-build.20200416_static_ststicRuntime/
qt-5.6.3-build.20200417_static_ststicRuntime/
qt-5.6.3-build.20200430_static_statruntime/
qt-5.6.3-build.20200502_static_statruntime/
qt-everywhere-opensource-src-5.6.3/
START_PG/
qt-everywhere-opensource-src-5.6.3/
VSProjects/
PgSQL-9.4.21-win32/
sqlite/
DATA/
build/
**/Makefile*
**/*.pro.user*
**/release
**/*.exe
**/02.06.2017-09.00.22.639-mainctrl.cfg
LAPACKE_examples/
XLAPACK/
XLAPACK1/
freqResp.tgz
raw_DFT/
raw_DFT.zip
20200821_SpearSubmit/
20200821_SpearSubmit.zip
NumericalRecipes/
*.dll
DATA/
include/
NumericalRecipes
**/*.dll
**/*.pro
